.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.pageTitle {
		padding: 30px 20px;
		width: 80vw;
		font-size: 40px;
		color: #66fcf1;
	}
	.gridContainer {
		width: 80vw;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 40px;
		row-gap: 50px;
	}
}
